<ng-container *ngIf="
    (backendService.rawDataObservable | async) && authService.showAdminPanel
  ">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-6 col-md-2 mt-2 mb-2">
                <app-create-product [productCount]="backendService.rawData.TotalNumberOfProducts + 1"></app-create-product>
            </div>
            <div class="col-6 col-md-2 mt-2 mb-2">
                <app-category></app-category>
            </div>
            <div class="col-6 col-md-2 mt-2 mb-2">
                <app-banner></app-banner>
            </div>
            <div class="col-6 col-md-2 mt-2 mb-2">
                <app-side-banner></app-side-banner>
            </div>
            <div class="col-6 col-md-2 mt-2 mb-2">
                <app-coupon></app-coupon>
            </div>
            <div class="col-6 col-md-2 mt-2 mb-2">
                <app-tag></app-tag>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12" type="button" (click)="showProducts()">
                <app-feature-card [cardName]="'Products'" [items]="backendService.rawData.TotalNumberOfProducts"></app-feature-card>
            </div>
            <div class="col-md-6 col-12" type="button" (click)="showOrders()">
                <app-feature-card [cardName]="'Orders'" [items]="backendService.rawData.TotalNumberOfOrders"></app-feature-card>
            </div>
        </div>
    </div>
</ng-container>

<div class="container empty"></div>
<app-loader *ngIf="!(backendService.rawDataObservable | async)"></app-loader>