.nav-item a {
    color: black;
}

.nav-item a:hover {
    background-color: gray;
    cursor: pointer;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 10;
    /* background-color: gray; */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }
}