<ng-container *ngIf="(backendService.rawDataObservable | async) && authService.showAdminPanel">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12 mt-2 mb-2">
                <app-create-product [productCount]="backendService.rawData.TotalNumberOfProducts + 1"></app-create-product>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12" type="button" (click)="showProducts()">
                <app-feature-card [cardName]="'Products'" [items]="backendService.rawData.TotalNumberOfProducts"></app-feature-card>
            </div>
            <div class="col-md-6 col-12" type="button" (click)="showOrders()">
                <app-feature-card [cardName]="'Orders'" [items]="backendService.rawData.TotalNumberOfOrders"></app-feature-card>
            </div>
        </div>
    </div>
</ng-container>
<div class="container" *ngIf="!authService.showAdminPanel">
    <div class="row">
        <div class="col text-center">
            <h4>You are Unauthorized to Access this Page</h4>
        </div>
    </div>
</div>
<app-loader *ngIf="!(backendService.rawDataObservable | async)"></app-loader>