<div class="container-fluid couponContainer" *ngIf="showCoupon">
    <div class="row justify-content-center align-items-center">
        <div class="col-9 col-md text-center">
            <ng-container *ngFor="let item of backendService.couponData | async">
                <p class="m-0 p-2">{{item.Description}}</p>
            </ng-container>
        </div>
        <div class="col-1 text-sm-right">
            <button class="navbar-toggler text-white" type="button" (click)="showCoupon=!showCoupon">
            <i class="far fa-window-close"></i>
        </button>
        </div>
    </div>
</div>
<div class="container p-2">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <img src="../../assets/logo.png" class="brand" alt="" (click)="navigateToHome()">
        <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn" ngbDropdownToggle>Bedroom</button>
                        <div ngbDropdownMenu>
                            <ng-container *ngFor="let item of backendService.tagData | async">
                                <ng-container *ngIf="item.Body === 'Bedroom'">
                                    <button ngbDropdownItem (click)="navigateToTagProducts(item.Name)">{{item.Name}}</button>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn" ngbDropdownToggle>Living Room</button>
                        <div ngbDropdownMenu>
                            <ng-container *ngFor="let item of backendService.tagData | async">
                                <ng-container *ngIf="item.Body === 'Living Room'">
                                    <button ngbDropdownItem (click)="navigateToTagProducts(item.Name)">{{item.Name}}</button>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn" ngbDropdownToggle>Kitchen & Dining</button>
                        <div ngbDropdownMenu>
                            <ng-container *ngFor="let item of backendService.tagData | async">
                                <ng-container *ngIf="item.Body === 'Kitchen & Dining'">
                                    <button ngbDropdownItem (click)="navigateToTagProducts(item.Name)">{{item.Name}}</button>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn" ngbDropdownToggle>Bar</button>
                        <div ngbDropdownMenu>
                            <ng-container *ngFor="let item of backendService.tagData | async">
                                <ng-container *ngIf="item.Body === 'Bar'">
                                    <button ngbDropdownItem (click)="navigateToTagProducts(item.Name)">{{item.Name}}</button>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn" ngbDropdownToggle (click)="navigateToTagProducts('Others')">Others</button>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto align-items-lg-center">
                <li class="nav-item d-block d-lg-none">
                    <div class="input-group nav-link d-flex">
                        <input type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchProduct" [ngModelOptions]="{ standalone: true }">
                        <div class="input-group-append">
                            <span class="input-group-text" id="addon-wrapping" (click)="navigateToSearchedProducts()">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-lg-center" (click)="navigateToOrders()">
                        <i class="fas fa-truck"></i> Track
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-lg-center" (click)="navigateToCart()">
                        <i class="fas fa-shopping-cart">
                            <span class="cartCount" *ngIf="authService.userData | async">{{authService.cartLength}}</span>
                        </i> Cart
                    </a>
                </li>
                <ng-template #showLogin>
                    <li class="nav-item">
                        <app-login></app-login>
                    </li>
                </ng-template>
                <ng-container *ngIf="authService.userData | async">
                    <li class="nav-item" *ngIf="authService.showAdminPanel && authService.user">
                        <a class="nav-link text-lg-center" (click)="navigateToInventory()">
                            <i class="fas fa-warehouse"></i> Inventory
                        </a>
                    </li>
                </ng-container>
                <li class="nav-item" *ngIf="authService.afauth.user | async as user; else showLogin">
                    <a class="nav-link text-lg-center" (click)="logoutSession()">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- <hr />
<div class="container" id="items">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <button class="navbar-toggler" type="button" (click)="isCollapsed2=!isCollapsed2" [attr.aria-expanded]="!isCollapsed2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed2">
            <ul class="navbar-nav align-items-center justify-content-center">
                <ng-container *ngFor="let item of backendService.tagData | async">
                    <li class="nav-item" (click)="navigateToTagProducts(item)">
                        <p class="m-0 nav-link">{{item.Name}}</p>
                    </li>
                </ng-container>
            </ul>
        </div>
    </nav>
</div> -->
<hr class="mb-2" />
