<div class="container p-2">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <!-- <a class="navbar-brand" (click)="navigateToHome()">Brand</a> -->
        <img src="../../assets/logo.png" class="brand" alt="" (click)="navigateToHome()">
        <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
            <form class="d-none d-lg-block ml-auto row justify-content-center align-items-center">
                <div class="col">
                    <div class="input-group">
                        <input type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchProduct" [ngModelOptions]="{ standalone: true }">
                        <div class="input-group-append">
                            <span class="input-group-text" id="addon-wrapping" (click)="navigateToSearchedProducts()">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav ml-auto align-items-lg-center">
                <li class="nav-item d-block d-lg-none">
                    <div class="input-group nav-link d-flex">
                        <input type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchProduct" [ngModelOptions]="{ standalone: true }">
                        <div class="input-group-append">
                            <span class="input-group-text" id="addon-wrapping" (click)="navigateToSearchedProducts()">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-lg-center">
                        <i class="fas fa-truck"></i> Track
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-lg-center" (click)="navigateToCart()">
                        <i class="fas fa-shopping-cart">
                            <span class="cartCount" *ngIf="authService.userData | async">{{authService.cartLength}}</span>
                        </i> Cart
                    </a>
                </li>
                <li class="nav-item" *ngIf="!authService.user">
                    <app-login></app-login>
                </li>
                <ng-container *ngIf="authService.userData | async">
                    <li class="nav-item" *ngIf="authService.showAdminPanel && authService.user">
                        <a class="nav-link text-lg-center" (click)="navigateToInventory()">
                            <i class="fas fa-warehouse"></i> Inventory
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="authService.user">
                        <a class="nav-link text-lg-center" (click)="logoutSession()">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </nav>
</div>
<hr />
<div class="container" id="items">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <button class="navbar-toggler" type="button" (click)="isCollapsed2=!isCollapsed2" [attr.aria-expanded]="!isCollapsed2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed2">
            <ul class="navbar-nav align-items-center justify-content-center">
                <li class="nav-item">
                    <p class="m-0 nav-link">Furniture</p>
                    <div class="container" id="dropDownContainer">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 w-100 p-4 justify-content-center">
                            <div class="col d-flex flex-column">
                                <h5>Sofas</h5>
                                <a href="#">Sofa Sets</a>
                                <a href="#">Sectional Sofas</a>
                                <a href="#">Sofa Cum Beds </a>
                                <a href="#">Recliners</a>
                            </div>
                            <div class="col d-flex flex-column">
                                <h5>Sofas</h5>
                                <a href="#">Sofa Sets</a>
                                <a href="#">Sectional Sofas</a>
                                <a href="#">Sofa Cum Beds </a>
                                <a href="#">Recliners</a>
                            </div>
                            <div class="col d-flex flex-column">
                                <h5>Sofas</h5>
                                <a href="#">Sofa Sets</a>
                                <a href="#">Sectional Sofas</a>
                                <a href="#">Sofa Cum Beds </a>
                                <a href="#">Recliners</a>
                            </div>
                            <div class="col d-flex flex-column">
                                <h5>Sofas</h5>
                                <a href="#">Sofa Sets</a>
                                <a href="#">Sectional Sofas</a>
                                <a href="#">Sofa Cum Beds </a>
                                <a href="#">Recliners</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <p class="m-0 nav-link">Living</p>
                </li>
                <li class="nav-item">
                    <p class="m-0 nav-link">Bedroom</p>
                </li>
                <li class="nav-item">
                    <p class="m-0 nav-link">Kids Room</p>
                </li>
                <li class="nav-item">
                    <p class="m-0 nav-link">Mattresses</p>
                </li>
                <li class="nav-item">
                    <p class="m-0 nav-link">Furnishings</p>
                </li>
                <li class="nav-item">
                    <p class="m-0 nav-link">Decor</p>
                </li>
                <li class="nav-item">
                    <p class="m-0 nav-link">Lighting</p>
                </li>
                <li class="nav-item">
                    <p class="m-0 nav-link">Mod Furniture </p>
                </li>
            </ul>
        </div>
    </nav>
</div>
<hr class="mb-2" />
