.nav-link,
.navbar-brand {
    cursor: pointer;
}

.navbar {
    background: #fff;
}

form {
    width: 100%;
}

input {
    background-color: #eee;
    outline: none;
    border: 1px solid #977552;
    padding: 8px;
    padding-left: 10px;
    width: 90%;
    border-radius: 5px;
}

.input-group-text {
    background-color: #eee;
    border: 1px solid #977552;
    border-radius: 5px;
    outline: none;
}

hr {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #977552;
}

#items .nav-item,
#items ul {
    width: 100%;
}

#items {
    position: relative;
}

#items #dropDownContainer {
    position: absolute;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    top: 80px;
    border: 1px solid lightgray;
    transition: all 0.3s ease;
}

#items .nav-item:hover #dropDownContainer {
    top: 50px;
    opacity: 1;
    visibility: visible;
}

#dropDownContainer a {
    text-decoration: none;
    color: black;
}

#dropDownContainer a:hover {
    color: #977552;
}