.container {
    font-size: small;
}

.nav-link,
.navbar-brand {
    cursor: pointer;
}

.navbar {
    background: #fff;
}

.brand {
    cursor: pointer;
}

form {
    width: 100%;
}

input {
    background-color: #eee;
    outline: none;
    border: 1px solid #977552;
    padding: 8px;
    padding-left: 10px;
    width: 90%;
    border-radius: 5px;
}

.input-group-text {
    background-color: #eee;
    border: 1px solid #977552;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

hr {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid #977552;
}

#items .nav-item,
#items ul {
    width: 100%;
}

.nav-link {
    position: relative;
}

.cartCount {
    position: absolute;
    font-size: 11px;
    display: inline-block;
    line-height: 16px;
    color: black;
    text-align: center;
    padding: 0 6px;
    background-color: #977552;
    border-radius: 9px;
    top: 5px;
}

.couponContainer {
    background-color: black;
    color: #977552;
    font-weight: bold;
}

@media only screen and (max-width:990px) {
    .cartCount {
        position: absolute;
        font-size: 11px;
        display: inline-block;
        line-height: 16px;
        color: black;
        text-align: center;
        padding: 0 6px;
        background-color: #977552;
        border-radius: 9px;
        top: -2px;
        left: 7px;
    }
}

@media only screen and (max-width:600px) {
    input {
        width: auto;
    }
    .cartCount {
        position: absolute;
        font-size: 11px;
        display: inline-block;
        line-height: 16px;
        color: black;
        text-align: center;
        padding: 0 6px;
        background-color: #977552;
        border-radius: 9px;
        top: -2px;
        left: 7px;
    }
}