<div class="container ">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 ">
            <span class="font-weight-bolder"> www.vintagehome.co.in</span> is owned and operated by VintejHome, a company incorporated under the laws of India. Your use of the Website and services and tools are governed by the following terms and conditions
            ("Terms of Use") as applicable to the Website including the applicable policies which are incorporated herein by way of reference. If you transact on the Website, You shall be subject to the policies that are applicable to the Website for
            such transaction. By mere use of the Website, You shall be contracting with VintejHome and these terms and conditions including the policies constitute your binding obligations, with VintejHome. For the purpose of these Terms of Use, wherever
            the context so requires "You" or "User" shall mean any natural or legal person who has agreed to become a buyer on the Website by providing Registration Data while registering on the Website as Registered User using the computer systems. www.vintagehome.co.in
            allows the User to surf the Website or making purchases without registering on the Website. The term "We", "Us", "Our" shall mean VintejHome When You use any of the services provided by Us through the Website, including but not limited to,
            (e.g. Product Reviews, Seller Reviews), You will be subject to the rules, guidelines, policies, terms, and conditions applicable to such service, and they shall be deemed to be incorporated into this Terms of Use and shall be considered as
            part and parcel of this Terms of Use. We reserve the right, at our sole discretion, to change, modify, add or remove portions of these Terms of Use, at any time without any prior written notice to you. It is your responsibility to review these
            Terms of Use periodically for updates / changes. Your continued use of the Website following the posting of changes will mean that you accept and agree to the revisions. As long as you comply with these Terms of Use, We grant you a personal,
            non-exclusive, non-transferable, limited privilege to enter and use the Website. When You use any of the services provided by Us through the Website, including but not limited to, (e.g. Product Reviews, Seller Reviews), You will be subject
            to the rules, guidelines, policies, terms, and conditions applicable to such service, and they shall be deemed to be incorporated into this Terms of Use and shall be considered as part and parcel of this Terms of Use. We reserve the right,
            at our sole discretion, to change, modify, add or remove portions of these Terms of Use, at any time without any prior written notice to you. It is your responsibility to review these Terms of Use periodically for updates / changes. Your continued
            use of the Website following the posting of changes will mean that you accept and agree to the revisions. As long as you comply with these Terms of Use, We grant you a personal, non-exclusive, non-transferable, limited privilege to enter and
            use the Website.
            <p class="font-weight-bolder">
                ACCESSING, BROWSING OR OTHERWISE USING THE SITE INDICATES YOUR AGREEMENT TO ALL THE TERMS AND CONDITIONS UNDER THESE TERMS OF USE, SO PLEASE READ THE TERMS OF USE CAREFULLY BEFORE PROCEEDING.
            </p>
        </div>
    </div>
</div>