<div class="container wrap">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 wrapContent">
            <h1> About Us</h1>
            We started our journey from dealing with Wood supply to different vendors and gained a very intensive knowledge about the nature and behaviour of all type of woods. This is our Love and knowledge of wood that lead us to start serving our respected customer’s
            furniture demands. Started creating very finished and customized Sheesham furniture products to some of our very respected and happy customers, we have now opened up our first HandiCraft Furniture store in Sirsa (Haryana). It’s being just
            a couple of years now and looking at our customers happy face and cheerful feedbacks, we are planning to open up our next a couple of showrooms in some major cities to increase our customer’s reach.
        </div>
    </div>
</div>