<div class="container" *ngIf="authService.user">
    <div class="row">
        <div class="col-12">
            <ng-container *ngIf="orderLength > 0">
                <h5 class="font-weight-bolder">YOUR ORDERS</h5>
            </ng-container>
            <ng-container *ngFor="let item of backendService.orderData | async">
                <div class="card mb-2 w-100" (click)="navigateToOrderDetails(item.Id)">
                    <div class="row justify-content-center align-items-center p-2">
                        <div class="col-12 col-md-2">
                            Date : {{ item.Date}}
                        </div>
                        <div class="col-12  col-md-2">
                            Order Id : {{ item.Id }}
                        </div>
                        <div class="col-12 col-md-2">
                            TotalProducts : {{ item.TotalNumberOfProducts }}
                        </div>
                        <div class="col-12 col-md-2">
                            Total Price : {{ item.TotalDisountPrice }}
                        </div>
                        <div class="col-12 col-md-2">
                            Status : {{ item.Status}}
                        </div>
                        <div class="col-12 col-md-2">
                            You Saved : {{ (item.TotalActualPrice - item.TotalDisountPrice).toFixed(2) }}
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div class="container noUser" *ngIf="authService.user">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 noUserContent text-center">
            <ng-container *ngIf="orderLength === 0 && authService.user">
                <h1>Your Haven't Placed an Order Yet</h1>
                <a [routerLink]="['']">Continue Shopping</a>
            </ng-container>
        </div>
    </div>
</div>

<div class="container noUser" *ngIf="!authService.user">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 text-center">
            <app-login [link]="true" [text]="'Login to Check Your Orders'"></app-login>
        </div>
    </div>
</div>