<div class="row toogle mb-1 align-items-center" [attr.aria-expanded]="!isCollapsed2" (click)="collapse2.toggle()">
    <div class="col">PAYMENT DETAILS</div>
    <div class="col text-right">
        How Would You Pay
        <ng-container *ngIf="isCollapsed2">
            <i class="fas fa-plus"></i>
        </ng-container>
        <ng-container *ngIf="!isCollapsed2">
            <i class="fas fa-minus"></i>
        </ng-container>
    </div>
</div>
<div #collapse2="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
    <div class="card">
        <div class="card-body">
        </div>
    </div>
</div>