p:hover {
    cursor: pointer;
    color: black;
}

span {
    font-size: 12px;
    margin-right: 5px;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

#button {
    background-color: black;
    color: white;
}

#button1 {
    font-size: small;
}

input {
    background-color: #eee;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.social {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.social:hover {
    background: black;
    color: white;
    cursor: pointer;
}