.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.categoryBorder {
    border: 1px double #977552;
}

.categoryLook {
    background: linear-gradient( to right, rgba(151, 117, 82, 1), rgba(151, 117, 82, 0));
    /* border-radius: 1%; */
    /* border: 1px double #977552; */
    border-radius: 5px;
}


/*
.outer {
    width: 500px;
    background: #977552;
    text-align: center;
    margin: 40px auto;
    position: relative;
    box-sizing: border-box;
}

.outer:before {
    position: absolute;
    content: '';
    left: -25px;
    top: 25px;
    border-top: 25px solid transparent;
    border-right: 25px solid #333;
    border-bottom: 25px solid transparent;
    border-left: 25px solid transparent;
    z-index: -1;
}

.outer:after {
    position: absolute;
    content: '';
    right: -25px;
    top: 25px;
    border-top: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #333;
    z-index: -1;
}

.left {
    position: absolute;
    border-top: 25px solid #977552;
    border-right: 50px solid #977552;
    border-bottom: 25px solid #977552;
    border-left: 25px solid transparent;
    top: 25px;
    left: -50px;
    z-index: -2;
}

.right {
    position: absolute;
    border-top: 25px solid #977552;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #977552;
    border-left: 50px solid #977552;
    top: 25px;
    right: -50px;
    z-index: -2;
} */

div span {
    display: block;
    line-height: 50px;
    height: 50px;
    /* font-weight: bold; */
    font-size: 20px;
    color: #ffffff;
}
