<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of backendService.productData | async ">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <!-- <img src={{item.Id}} class="card-img-top" alt="product-Image"> -->
                    <div class="card-body">
                        <h5 class="card-title">{{item.Name}}</h5>
                        <button class="btn" id="button">Add to Cart</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<app-loader *ngIf="!(backendService.productData | async) "></app-loader>