.card {
    width: 100%;
    border: 1px solid #977552;
}

.card__body {
    padding: 10px;
}

.span__discountPrice {
    font-size: large;
    font-weight: bold;
    color: #977552;
}

.span__actualPrice {
    text-decoration: line-through;
}

.span__discountPercent {
    font-size: small;
}