<div class="container">
    <div class="row justify-content-center align-items-center align-items-md-start">
        <ng-container *ngFor="let item of backendService.productData | async ">
            <ng-container *ngIf="productId===item.Id">
                <div class="col col-md-6 mb-4" *ngIf="item.Visibility==='Show'">
                    <img id="selectedImage" class="mb-2" [src]="selectedImage" alt="mainImage" />
                    <div class="row justify-content-center align-items-center w-100">
                        <div class="col-1">
                            <a class="social" (click)="scrollLeft()">
                                <i class="fas fa-angle-left"></i>
                            </a>
                        </div>
                        <div class="offset-1 offset-md-0 col-7 col-md-9 w-100">
                            <div class="imageContainer" #imageContainer>
                                <ng-container *ngFor="let image of item.Images">
                                    <div class="m-2" (click)="showSelectedImage(image)" (mouseover)="showSelectedImage(image)">
                                        <img [src]="image.DownloadURL" alt="img">
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-1">
                            <a class="social" (click)="scrollRight()">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 card__body">
                    <h5 class="card-title"><span class="font-weight-bolder">{{item.Name}}</span></h5>
                    <span class="span__discountPrice">{{item.DiscountPrice | currency:"INR"}}</span>
                    <span class="span__actualPrice"><span class="span__price ml-2">{{item.ActualPrice | currency:"INR"}} MRP</span> (Inclusive of all taxes)</span>
                    <span class="span__discountPercent ml-2">({{item.DiscountPercent}}% Off)</span>
                    <hr/>
                    <p>{{item.Description}}</p>
                    <hr/>

                    <div class="row">
                        <div class="col-12 col-md-2">
                            <span class="font-weight-bolder">Details</span>
                        </div>
                        <div class="col-12 col-md">
                            <ng-container *ngFor="let i of item.Details">
                                <p><span class="field">{{i.field}}</span> : <span class="value">{{i.value}}</span></p>
                            </ng-container>
                        </div>
                    </div>
                    <button class="btn mr-2" id="cartButton" [disabled]="loader" (click)="addToCart()">Add to Cart</button>
                    <button class="btn" id="buyButton" [disabled]="loader" (click)="buyNow()">Buy Now</button>
                    <ng-container *ngIf="loader">
                        <app-loader></app-loader>
                    </ng-container>
                </div>
            </ng-container>

        </ng-container>
    </div>
</div>
<div class="container loader" *ngIf="!( backendService.productData | async )">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 text-center">
            <app-loader></app-loader>
        </div>
    </div>
</div>