<div class="container">
    <div class="row align-items-center justify-content-center">
        <ng-container *ngFor="let item of backendService.productData | async ">
            <div class="col mb-4 h-100" *ngIf="item.Visibility==='Show'">
                <ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false">
                    <ng-container *ngFor="let image of backendService.imageData | async">
                        <ng-template ngbSlide *ngIf="productId===image.ProductId">
                            <div class="picsum-img-wrapper">
                                <img class="card-img-top" src="{{image.DownloadURL}}" alt="Random slide" />
                            </div>
                        </ng-template>
                    </ng-container>
                </ngb-carousel>
            </div>
            <div class="col card__body">
                <h6 class="card-title">{{item.Name}}</h6>
                <span class="span__discountPrice">&#8377;{{item.DiscountPrice}}</span>
                <span class="span__actualPrice ml-2">&#8377;{{item.ActualPrice}}</span>
                <span class="span__discountPercent ml-2">({{item.DiscountPercent}}% Off)</span>
            </div>
        </ng-container>
    </div>
</div>
<app-loader *ngIf="!(backendService.imageData | async)"></app-loader>