<div class="container" *ngIf="authService.showAdminPanel">
    <div class="row">
        <div class="col table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actual Price</th>
                        <th scope="col">Discount Price</th>
                        <th scope="col">Images</th>
                        <th scope="col">Status</th>
                        <th scope="col">Visibility</th>
                        <th scope="col">Menu #1</th>
                        <th scope="col">Menu #2</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of backendService.productData | async ">
                        <tr>
                            <th scope="row">{{item.Id}}</th>
                            <td>
                                <input type="text" class="input" [(ngModel)]="item.Name" [ngModelOptions]="{standalone: true}">
                            </td>
                            <td>
                                <textarea type="text" class="input" rows="1" [(ngModel)]="item.Description" [ngModelOptions]="{standalone: true}"></textarea>
                            </td>
                            <td>
                                <input type="number" min="0" class="input" [(ngModel)]="item.ActualPrice" [ngModelOptions]="{standalone: true}" />
                            </td>
                            <td>
                                <input type="number" min="0" class="input" [(ngModel)]="item.DiscountPrice" [ngModelOptions]="{standalone: true}" />
                            </td>
                            <td>
                                <app-view-images [productId]="item.Id"></app-view-images>
                            </td>
                            <td>
                                <select class="input" [(ngModel)]="item.Availability" [ngModelOptions]="{standalone: true}">
                                    <option>Available</option>
                                    <option>SoldOut</option>
                                  </select>
                            </td>
                            <td>
                                <select class="input" [(ngModel)]="item.Visibility" [ngModelOptions]="{standalone: true}">
                                    <option>Show</option>
                                    <option>Hide</option>
                                </select>
                            </td>
                            <td>
                                <button type="submit" class="btn" id="button" (click)="modifyProduct(item)">Save</button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-danger" (click)="deleteProduct(item)">
                  Delete
                </button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container" *ngIf="!authService.showAdminPanel">
    <div class="row">
        <div class="col text-center">
            <h4>You are Unauthorized to Access this Page</h4>
        </div>
    </div>
</div>
<app-loader *ngIf="!(backendService.productData | async)"></app-loader>