<div class="container-fluid" *ngIf="authService.showAdminPanel">
    <div class="row">
        <div class="col table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">SKU</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actual Price</th>
                        <th scope="col">Discount %</th>
                        <th scope="col">Discount Price</th>
                        <th scope="col">Images</th>
                        <th scope="col">Status</th>
                        <th scope="col">Visibility</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Menu #1</th>
                        <th scope="col">Menu #2</th>
                        <th scope="col">Menu #3</th>
                        <th scope="col">Menu #4</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of backendService.productData | async ">
                        <tr class="justify-content-center align-items-center">
                            <td>
                                <input type="text" min="0" class="input" value="{{item.Id}}" readonly/>
                            </td>
                            <td>
                                <input type="text" min="0" class="input" [(ngModel)]="item.Sku" [ngModelOptions]="{standalone: true}" />
                            </td>
                            <td>
                                <input type="text" class="input" [(ngModel)]="item.Name" [ngModelOptions]="{standalone: true}" />
                            </td>
                            <td>
                                <textarea type="text" class="input" rows="1" [(ngModel)]="item.Description" [ngModelOptions]="{standalone: true}"></textarea>
                            </td>
                            <td>
                                <input type="number" min="0" class="input" [(ngModel)]="item.ActualPrice" [ngModelOptions]="{standalone: true}" />
                            </td>
                            <td>
                                <input type="number" min="0" class="input" [(ngModel)]="item.DiscountPercent" [ngModelOptions]="{standalone: true}" />
                            </td>
                            <td>
                                <input type="number" min="0" class="input" value="{{item.ActualPrice-(item.ActualPrice*item.DiscountPercent)/100}}" readonly />
                            </td>
                            <td>
                                <app-view-images [productId]="item.Id"></app-view-images>
                            </td>
                            <td>
                                <select class="input" [(ngModel)]="item.Availability" [ngModelOptions]="{standalone: true}">
                                    <option>Available</option>
                                    <option>SoldOut</option>
                                  </select>
                            </td>
                            <td>
                                <select class="input" [(ngModel)]="item.Visibility" [ngModelOptions]="{standalone: true}">
                                    <option>Show</option>
                                    <option>Hide</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" min="0" class="input" [(ngModel)]="item.Stock" [ngModelOptions]="{standalone: true}" />
                            </td>

                            <td>
                                <button type="submit" class="btn" id="button" (click)="modifyProduct(item)">Save</button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-danger" (click)="deleteProduct(item)">
                                    Delete
                                </button>
                            </td>
                            <td class="overflow-hidden">
                                <div class="row">
                                    <div class="col">
                                        <div ngbDropdown container="body" display="dynamic" placement="bottom-right">
                                            <button class="btn btn-dark" id="dropdownForm1" ngbDropdownToggle>Tags</button>
                                            <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="dropdown-menu">
                                                <form class="px-4 py-3">
                                                    <div class="form-group row">
                                                        <label for="input" class="col-4 col-form-label">New Tag</label>
                                                        <div class="col-8">
                                                            <input type="text" class="input" [(ngModel)]="newTag" [ngModelOptions]="{ standalone: true }" />
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn" id="button" (click)="onAddNewTag(item)">Add</button>
                                                </form>
                                                <div class="dropdown-divider"></div>
                                                <ng-container *ngFor="let tag of item.Tags;let i=index">
                                                    <p class="dropDownItem" ngbDropdownItem (click)="onDeleteTag(item,i)">{{i+1}} - {{tag}}</p>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="overflow-hidden">
                                <div class="row">
                                    <div class="col">
                                        <div ngbDropdown container="body" display="dynamic" placement="bottom-right">
                                            <button class="btn btn-dark" id="dropdownForm1" ngbDropdownToggle>Details</button>
                                            <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="dropdown-menu">
                                                <form class="px-4 py-3">
                                                    <div class="form-group row">
                                                        <label for="input" class="col-4 col-form-label">Field</label>
                                                        <div class="col-8">
                                                            <input type="text" class="input" [(ngModel)]="newField" [ngModelOptions]="{ standalone: true }" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="input" class="col-4 col-form-label">Value</label>
                                                        <div class="col-8">
                                                            <input type="text" class="input" [(ngModel)]="newValue" [ngModelOptions]="{ standalone: true }" />
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn" id="button" (click)="onAddNewDetailsField(item)">Add</button>
                                                </form>
                                                <div class="dropdown-divider"></div>
                                                <ng-container *ngFor="let tag of item.Details;let i=index">
                                                    <p class="dropDownItem" ngbDropdownItem (click)="onDeleteDetailsField(item,i)">{{i+1}} - {{tag.field}} : {{tag.value}}</p>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container" *ngIf="!authService.showAdminPanel">
    <div class="row">
        <div class="col text-center">
            <h4>You are Unauthorized to Access this Page</h4>
        </div>
    </div>
</div>
<app-loader *ngIf="!(backendService.productData | async)"></app-loader>