<div class="row toogle mb-1 align-items-center" [attr.aria-expanded]="!isCollapsed1">
    <div class="col">SHIPPING & BILLING DETAILS</div>
    <div class="col text-right">
        Tell us where to deliver
        <ng-container *ngIf="isCollapsed1">
            <i class="fas fa-plus"></i>
        </ng-container>
        <ng-container *ngIf="!isCollapsed1">
            <i class="fas fa-minus"></i>
        </ng-container>
    </div>
</div>
<div #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
    <div class="card">
        <div class="card-body">
            <form #billingForm="ngForm">
                <div class="form-group row">
                    <label for="Name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" #nameInput="ngModel" name="Name" placeholder="e.g Virat Kohli" [(ngModel)]="userName" [ngModelOptions]="{ standalone: true }" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="MobileNumber" class="col-sm-2 col-form-label">Mobile Number</label>
                    <div class="col-sm-10">
                        <input type="number" minlength="9" class="form-control" #nameInput="ngModel" name="MobileNumber" placeholder="9934*****1" [(ngModel)]="mobileNumber" [ngModelOptions]="{ standalone: true }" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Pincode" class="col-sm-2 col-form-label">Pincode</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="Pincode" #nameInput="ngModel" placeholder="400039" [(ngModel)]="pincode" [ngModelOptions]="{ standalone: true }" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Address" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                        <textarea style="resize: none;" type="text" rows="2" #nameInput="ngModel" class="form-control mb-2" placeholder="House Number, Building Name, Society, Area, Road, Landmark" [(ngModel)]="address" [ngModelOptions]="{ standalone: true }" required></textarea>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="City" #nameInput="ngModel" name="City" [(ngModel)]="city" [ngModelOptions]="{ standalone: true }" required />
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="State" #nameInput="ngModel" name="State" [(ngModel)]="state" [ngModelOptions]="{ standalone: true }" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" readonly class="form-control" name="Country" value="India" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <button type="submit" [disabled]="!billingForm.valid" class="btn p-2 w-100 pt-3 pb-3" id="button" (click)="userBillingDetails(collapse1)">Save & Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row toogle mb-1 align-items-center" [attr.aria-expanded]="!isCollapsed2" (click)="collapse2.toggle()">
    <div class="col">PAYMENT DETAILS</div>
    <div class="col text-right">
        How Would You Pay
        <ng-container *ngIf="isCollapsed2">
            <i class="fas fa-plus"></i>
        </ng-container>
        <ng-container *ngIf="!isCollapsed2">
            <i class="fas fa-minus"></i>
        </ng-container>
    </div>
</div>
<div #collapse2="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
    <div class="card">
        <div class="card-body">
            <button (click)="setOrderWithRazor()" class="btn btn-dark">Order</button>
        </div>
    </div>
</div>