<div class="container ">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 ">
            <h1> Delivery Information</h1>
            <h4>
                Delivery Information:
            </h4>
            <p> For a superlative customer experience, we have decided to deliver each product personally to almost every part of country. Products are typically dispatched within a day of order confirmation, and mostly products are delivered within 30 days.
                While we try to ensure that the product reaches you within the delivery time communicated, exigencies may delay the delivery. In such cases, please do not worry. Get in touch with us for the latest update on your shipment if we have already
                not gotten in touch with you.</p>
            <h4>Cancellation Terms and Condition:</h4>
            <p>
                If the order is cancelled within 72 hours after placing the order, full refund is done , only the payment gateway charges are deducted. and the order placed after 72 hours 25% amount is not refunded and rest 75% amount is refunded to customer bank account.
            </p>
            <h4>How do I track my order?:</h4>
            <p>
                We try our best to deliver your product before you can even think. i.e. well within 20-30 days of your order (or 10 days of the promised shipment date in the case of pre-orders). In a few cases however, we take closer to our promised 15 - 30 days for
                delivery. In such cases, we proactively call / email the customer to inform them of the status of their product and where it is in transit. In the rare case when you have not received any communication from us for 10 days after order (or
                10 days after promised shipment date in the case of pre-orders) do give us a call at our customer care number or email us at salesvintagehome@gmail.com . Currently there is no online mechanism to check the status of your order.
            </p>
            <h4>Note:</h4>
            <p>
                Once we have delivered the product and left the customer's premises, we will not be able to accommodate any cancellation or replacement requests (other than as covered by the product warranty). We recommend that customers be present at the time of delivery
                to check for any possible manufacturing defects. Should there be any, please inform the Service Associate. Our delivery staff will assist you with any questions you may have.
            </p>
        </div>
    </div>
</div>