.input,
.input:focus,
#file-label {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    outline: none;
    width: 100%;
}

#files {
    display: none;
}

#button {
    background-color: black;
    color: white;
}

#uploadButton {
    cursor: pointer;
}

#uploadButton:disabled {
    background: gray;
}

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}

.dark-modal .close {
    color: white;
}

.dropzone {
    padding: 10px;
    font-weight: 200;
    height: 300px;
    border: 2px dashed white;
    border-radius: 10px;
}

.hovering {
    border: 2px solid gray;
}

.file-label {
    font-size: 1.2em;
}

progress::-webkit-progress-value {
    transition: width 0.1s ease;
}