<!--Product Modal -->
<button type="button" id="button" class="btn" (click)="openModal(template)">
  <i class="fa fa-plus-circle" aria-hidden="true"></i> Product
</button>
<ng-template #template let-modal>
    <div class="modal-header">
        <h5 class="modal-title pull-left">Create New Product</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form id="form" class="align-items-center justify-content-center">
                <div class="form-group row pt-2">
                    <label for="input" class="col-4 col-form-label">Name</label>
                    <div class="col-8">
                        <input type="text" class="input" [(ngModel)]="productName" [ngModelOptions]="{ standalone: true }" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Description</label>
                    <div class="col-8">
                        <textarea type="text" class="input" rows="2" [(ngModel)]="productDescription" [ngModelOptions]="{ standalone: true }"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Details</label>
                    <div class="col-8">
                        <div *ngFor="let num of productDetails; let i=index">
                            <div class="form-group row">
                                <div class="col-6">
                                    <input type="text" class="input" placeholder="field" [(ngModel)]="productDetails[i].field" [ngModelOptions]="{ standalone: true }" />
                                </div>
                                <div class="col-6">
                                    <input type="text" class="input" placeholder="value" [(ngModel)]="productDetails[i].value" [ngModelOptions]="{ standalone: true }" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row align-items-center justify-content-center">
                            <div class="col-1">
                                <span>
                                        <button type="button" id="button" class="btn" (click)="increaseFields()">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                        </button>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Actual Price(Rs.)</label>
                    <div class="col-8">
                        <input type="number" min="0" class="input" [(ngModel)]="productActualPrice" [ngModelOptions]="{ standalone: true }" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Discount Percent %</label>
                    <div class="col-8">
                        <input type="number" min="0" max="100" class="input" [(ngModel)]="productDiscountPercent" [ngModelOptions]="{ standalone: true }" />
                    </div>
                </div>
                <div class="form-group row justify-content-center align-items-center" *ngIf="productActualPrice && productDiscountPercent">
                    <label class="col-4 col-form-label">Discount Price(Rs.)</label>
                    <div class="col-8">
                        <input type="number" min="0" class="input" value="{{productActualPrice-productActualPrice*productDiscountPercent/100}}" readonly />

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Status</label>
                    <div class="col-8">
                        <select class="input" [(ngModel)]="productAvailability" [ngModelOptions]="{ standalone: true }">
                          <option>Available</option>
                          <option>SoldOut</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Visibility</label>
                    <div class="col-8">
                        <select class="input" [(ngModel)]="productVisibility" [ngModelOptions]="{ standalone: true }">
                          <option>Show</option>
                          <option>Hide</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row pt-2">
                    <label for="input" class="col-4 col-form-label">SKU</label>
                    <div class="col-8">
                        <input type="text" class="input" [(ngModel)]="productSku" [ngModelOptions]="{ standalone: true }" />
                    </div>
                </div>
                <div class="form-group row pt-2">
                    <label for="input" class="col-4 col-form-label">Number of Stocks</label>
                    <div class="col-8">
                        <input type="number" class="input" [(ngModel)]="productStock" [ngModelOptions]="{ standalone: true }" />
                    </div>
                </div>
                <div class="form-group row pt-2">
                    <label for="input" class="col-4 col-form-label">Tags</label>
                    <div class="col-8">
                        <input type="text" class="input" placeholder="Seperate Tags by comma" [(ngModel)]="productTags" [ngModelOptions]="{ standalone: true }" />
                    </div>
                </div>
                <div class="form-group row align-items-center justify-content-center">
                    <label class="col-12 col-md-4 col-form-label">Images</label>
                    <div class="col-12 col-md-8 dropzone" appDropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)" [class.hovering]="isHovering">
                        <div class="p-5 text-center">
                            <p>Drag and Drop files</p>
                            <p>(or)</p>
                            <div class="form-group">
                                <label for="files" id="file-label">Choose Files</label>
                                <input id="files" type="file" class="form-control-file" multiple (change)="onDrop($event.target.files)" />
                            </div>
                            <p>No. of Files Added:{{ files.length }}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group row align-items-center justify-content-center">
                    <label class="col-12 col-md-4 col-form-label" *ngIf="files.length">Preview</label>
                    <div class="col-12 col-md-8">
                        <div class="row align-items-center justify-content-center">
                            <ng-container *ngFor="let file of files;let i=index">
                                <app-upload-image [mode]="'CREATE'" [file]="file" [imageIndex]="i" [productId]="'P' + productCount" (imageInfo)="deleteImageFromArray($event)"></app-upload-image>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-warning" (click)="confirm()">
                          Confirm
                        </button>
                        <button type="submit" class="btn" id="button" (click)="createNewProduct()" [disabled]="!productImagesUploaded">
                          Create
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>