<div class="container" *ngIf="authService.user">
    <div class="row">
        <div class="col-12 col-md-8">
            <app-order-summary></app-order-summary>
            <app-billing-form></app-billing-form>
            <app-payment-details [totalDisountPrice]="totalDisountPrice" [totalActualPrice]="totalActualPrice"></app-payment-details>
        </div>
        <div class="col-12 col-md-4">
            <div class="row">
                <div class="col">
                    <div class="card p-2" *ngIf="totalDisountPrice!==0">
                        <div class="row">
                            <div class="col-6">MRP</div>
                            <div class="col-6">
                                <p class="m-0">{{totalActualPrice|currency:"INR"}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">Retail Discount</div>
                            <div class="col-6">
                                <p class="m-0">-{{totalActualPrice-totalDisountPrice |currency:"INR"}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">Offer Price</div>
                            <div class="col-6">
                                <p class="m-0">{{totalDisountPrice|currency:"INR"}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                You Pay
                            </div>
                            <div class="col-6">
                                <p class="m-0">{{totalDisountPrice|currency:"INR"}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>